.not-found {
    height: calc(100vh - 61px);
    display: grid;
    place-content: center;

    h1 {
        font-size: 30px;
        text-align: center;
        color: rgba($color: #000000, $alpha: 0.70)
    }

    &-circle {
        display: grid;
        place-content: center;
        margin: 0 auto;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: var(--hospital-green);

        span {
            font-size: 48px;
            color: var(--text-input-field);
        }
    }

    a {
        margin: 30px auto;
        font-size: 20px;
        color: #83a087;
        text-decoration: none;
    }
}